/* ========================================= */
#root {
  margin: 2em 4em;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 10em;
  padding: 0;
}

#textarea-input-wanted {
  display: inline-block;
  background-color: rgba(113, 255, 57, 0.377);
}

#textarea-input-flagged {
  display: inline-block;
  background-color: rgba(255, 71, 71, 0.274);
}

#content{
  margin: 3em 0em;
}

.compute-button {
  width: 100%;
}

.input {
  display: inline-block;
}

#input {
  width: 100%;
}

#input-wanted {
  width: 50%;
}

#input-flagged {
  width: 50%;
}

div.result{
  text-align: center;
}

.summary {
  display: inline-block;
  vertical-align: top;
}

.summary-stats {
  /* vertical-align: top; */
  text-align: center;
  /* border-style: solid;
  border-color: cadetblue; */
  padding: 1em;
  margin: 2em;
}

#stats-wanted {
  background-color: rgba(113, 255, 57, 0.377);
}

#stats-flagged {
  background: rgba(255, 71, 71, 0.274);
}

div#ingredients-list {
  display: inline-block;
  margin: 0.5em auto;
  padding: 2em;
}

div.ingredients {
  margin: 0.5em auto;
  text-align: center;
  padding: 0.2em 1em;
  border-radius: 10px;
  border-style: solid;
  border-color: aliceblue;
}

div.ingredients-matching {
  vertical-align: top;
  width: 30%;
  display: inline-block;
  text-align: center;
}

div.input-split {
  display: inline-block;
  width: 50%;
}

div.commonIngredientItem {
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  width: 20em;
  background-color: #ffe786;
  border-radius: 10px;
}

